.container {
    background:linear-gradient(#a619f8,#00f2fe);
}



    body{background:#f8f9fa;transition:background 0.3s,color 0.3s;}
    .dark-mode{background:#212529;color:#f8f9fa;}
    .product-card{transition:transform .15s ease-in-out}
    .product-card:hover{transform:translateY(-4px)}
    .price{font-weight:700}
    .badge-cat{font-size:.75rem}